@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("fonts/NotoSansKR-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("fonts/NotoSansKR-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("fonts/NotoSansKR-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("/static/fonts/NotoSansKR-Light.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url("/static/fonts/NotoSansKR-Thin.woff2") format("woff2");
}
* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    font-family: "NotoSansKR", "Sans-serif";
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: #f5f5f5;
}

.container {
    width: 1080px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #212121;
}

#nav_advertisement {
    margin-top: 0;
    width: 100%;
    height: 80px;
}
.advertisement.active {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 0;
}
.gala {
    min-width: 1080px;
    height: auto;
    min-height: 70%;
}

form {
    display: block;
    unicode-bidi: isolate;
}
.search-header {
    margin: 48px 0 38px;
}
.page-title {
    display: inline-block;
}
.subtitle-1-medium {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
#inner_text_search_box {
    display: flex;
    float: right;
    position: relative;
}
.wishket-select {
    left: 141px;
    z-index: 1;
    top: 1px;
}
.text-search-box {
    display: flex;
    float: right;
    position: relative;
}
.ui-select {
    width: 140px;
    text-align: left;
}
.project-search .container .search-header .text-search-box .text-search-type {
    width: 140px !important;
    min-width: 100px;
}
.theme-wishket {
    outline: none;
}
.ui-select.theme-wishket {
    position: relative;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
}
.project-search
    .container
    .search-header
    #inner_text_search_box
    .wishket-select
    .select-box {
    border: none !important;
}
.ui-select.theme-wishket > .select-box {
    position: relative;
    padding: 8px 42px 8px 12px;
    background: #fff;
    font-size: 14px;
    border-radius: 4px;
    display: block;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.ui-select.theme-wishket > .select-box > p.select-name {
    font-size: 14px;
    line-height: 24px;
    opacity: 1;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
}
.ui-select.theme-wishket > .select-box > i {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    line-height: 0;
    width: 14px;
    height: 14px;
}
.selectBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.select-dropdown {
    position: absolute;
    transition: all 0.3s, opacity 0.1s;
    -webkit-transition: all 0.3s, opacity 0.1s;
    top: 41px;
    width: 150px;
    border-radius: 4px;
    padding: 8px 0;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    z-index: 777;
    background: #fff;
    max-height: 270px;
    overflow: auto;
    display: none;
}
ul {
    list-style: none;
}
.ui-select.theme-wishket > .select-dropdown > li {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
}
ul li {
    margin: 0;
}
.default-input-wishket.icon-right {
    position: relative;
}
.search-text {
    width: 300px;
    margin: 0;
    padding-left: 152px;
}
.default-input-wishket.icon-right > input {
    display: block;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 24px;
    color: #616161;
    font-weight: 400;
    background: #fff;
    height: inherit;
    padding: 8px 38px 8px 12px;
}
.project-search .container .search-header #inner_text_search_box .text-unit {
    opacity: 1 !important;
}
.default-input-wishket.icon-right > .text-unit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #9e9e9e;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    right: 12px;
}
.search-filter-group {
    width: 100%;
}
.search-filter-btn-group {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    width: 770px;
}
.btn-action-help-img.active {
    display: inline-block;
}
.btn-action-help-img {
    position: absolute;
    margin-top: -78px;
}
.btn-filter-action-chip {
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 18px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
}
.btn-filter-action-chip {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.text600 {
    color: #616161;
}
button {
    background: none;
    border: none;
}
.chip-filter-icon {
    position: relative;
    top: 3px;
    margin-right: 4px;
}
.chip-filter-icon-inactive {
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 4px;
}

.search-filter-manage-group {
    display: inline-block;
    text-align: right;
    width: 305px;
    vertical-align: middle;
}
.btn-search-action {
    color: #616161;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.btn-transparent img {
    vertical-align: top;
    margin-right: 4px;
    margin-top: 3px;
}
.btn-transparent {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.sticky-modal-group {
    position: relative;
    display: inline-block;
}
.img-inactive {
    display: inline-block;
}
.search-filter-part {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    margin-top: -17px;
    margin-bottom: 24px;
}
.search-filter-wrapper-temp {
    border-top: none;
    margin-top: 16px;
    position: relative;
    width: 100%;
}
.search-filter-selected-viewer {
    padding: 0;
    margin: 16px 0 0 0;
}
.mb32 {
    margin-bottom: 32px;
}
.result-count-box {
    display: inline-block;
    width: calc(100% - 400px);
}
.text700 {
    color: #424242;
}
.body-1 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.body-1-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.result-sort-box {
    display: inline-block;
    position: relative;
    width: 396px;
    text-align: right;
}
.btn-exclude-closed {
    margin-right: 24px;
}
.btn-sort-box {
    cursor: pointer;
}
.text600 {
    color: #616161;
}
.body-2 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.sort-btn-inactive-check {
    display: none;
}
.sort-btn-inactive {
    display: inline-block;
}
.btn-exclude-closed img {
    margin-right: 8px;
}
.btn-sort-box img {
    vertical-align: middle;
}
.dropdown-opener img {
    margin-left: 4px;
}
.project-info-box {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px transparent;
    margin-bottom: 12px;
}
.project-info-box-wrapper {
    display: flex;
    padding: 24px 24px 24px 32px;
}
/* 프로젝트에 마우스 가져다대면 나타나는 효과 */
.project-info-box-wrapper:hover {
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.project-organic-info {
    display: inline-block;
    width: calc(100% - 288px);
    vertical-align: top;
    position: relative;
    padding-right: 24px;
}
.project-status-label {
    display: flex;
}
.mb12 {
    margin-bottom: 12px;
}
.project-status-label {
    position: relative;
}
.recruiting-mark {
    border-color: #93dbc6;
    background-color: #ebfff9;
    color: #009c6f;
}
.new-mark {
    border-color: #abe3f2;
    background-color: #e8faff;
    color: #369cc2;
    margin-left: 8px;
}
.project-status-label .status-mark {
    display: flex;
    align-items: center;
    padding: 1px 7px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
.project-link {
    color: #212121;
}
.subtitle-2-medium {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.subtitle-1-half-medium {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.project-core-info {
    display: flex;
    align-items: center;
}
.mb10 {
    margin-bottom: 10px;
}
.budget {
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.text700 {
    color: #424242;
}
.budget span {
    margin-left: 10px;
}
.body-1-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.info-divider {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 16px;
    background-color: #e0e0e0;
}
.term {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.body-1 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.term span {
    margin-left: 10px;
}
.project-category-or-role {
    display: inline-block;
    padding-right: 16px;
}
.project-category-or-role:before {
    background-image: url(https://www.wishket.com/static/renewal/img/project/search/icon_project_features_A.svg);
    content: "";
    display: inline-block;
    margin-right: 8px;
    background-size: 14px 14px;
    height: 14px;
    margin-top: -3px;
    width: 14px;
    vertical-align: middle;
}
.project-field {
    display: inline-block;
    padding-right: 16px;
}
.project-field:before {
    background-image: url(https://www.wishket.com/static/renewal/img/project/search/icon_project_features_C.svg);
    content: "";
    display: inline-block;
    margin-right: 8px;
    background-size: 14px 14px;
    height: 14px;
    margin-top: -3px;
    width: 14px;
    vertical-align: middle;
}
.project-field-subcategory {
    display: inline-block;
    padding-right: 16px;
}
.project-field-subcategory:before {
    background-image: url(https://www.wishket.com/static/renewal/img/project/search/icon_project_features_B.svg);
    content: "";
    display: inline-block;
    margin-right: 8px;
    background-size: 14px 14px;
    height: 14px;
    margin-top: -3px;
    width: 14px;
    vertical-align: middle;
}
.project-minor-info {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    height: 34px;
}
.project-status-label {
    display: flex;
}
div.status-mark.with-img.with-img {
    padding: 1px 7px 1px 3px;
}
.recruiting-status .project-type-mark {
    border-color: #e0e0e0;
    background-color: #fff;
    color: #616161;
}
.status-mark {
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
.project-type-mark-img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    padding: 4px;
}
.divider {
    width: 1px;
    height: 14px;
    background-color: #eee;
    margin: 0 8px;
}
.project-skills-info {
    height: 24px;
    max-width: 314px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #616161;
    margin-right: 12px;
}
.skill-chip {
    display: inline-block;
    padding: 3px 8px 2px;
    border-radius: 8px;
    background-color: #eee;
    margin-right: 8px;
}
.text600 {
    color: #616161;
}
.body-3 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
.text500 {
    color: #757575;
}
.location-data {
    margin-right: 3px;
    display: inline-block;
}
.start-recruitment-data {
    display: inline-block;
}
.text300 {
    color: #bdbdbd;
}
.proposal-and-client-info {
    vertical-align: top;
    border-left: 1px solid #eee;
    display: inline-block;
    width: 288px;
    padding-left: 24px;
}
.proposal-info {
    padding: 0 0 20px 16px;
}
.mb8 {
    margin-bottom: 8px;
}
.info-detail img {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 8px;
}
.has-value {
    border-top: none;
}
.minor-info {
    padding-bottom: 16px;

    height: 34px;
}
.status-wrap {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}
.status-icon {
    display: inline-block;
    margin-right: 4px;
    font-style: normal;
}
.view-status:before {
    background-image: url(https://www.wishket.com/static/renewal/img/project/search/post-icon-view.png);
}
.status-icon:before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    vertical-align: middle;
}
.status-icon {
    font-style: normal;
}
.tooltip-container {
    min-width: 200px;
}
.tooltip-container {
    padding: 16px;
    width: max-content !important;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #616161;
    position: absolute;
    z-index: 999999;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
}
.text900 {
    color: #212121;
}
.text400 {
    color: #9e9e9e;
}
.caption-1 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.status-icon {
    display: inline-block;
    margin-right: 4px;
    font-style: normal;
}
.status-icon.comment-status:before {
    background-image: url(https://www.wishket.com/static/renewal/img/project/search/post-icon-comment.png);
}
.interest-status:before {
    background-image: url(https://www.wishket.com/static/renewal/img/project/search/btn-icon-like-s-off.png);
}
.client-info {
    background-color: #f7fafc;
    border-radius: 8px;
    padding: 16px 20px 16px 16px;
}
.client-profile-img {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 18px;
    border: solid 1px #e0e0e0;
}
.username {
    max-width: 96px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.body-3-medium {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}
.simple-chip {
    display: inline-block;
    vertical-align: middle;
}
.simple-chip.client-chip {
    background-color: #e3edfa;
    color: #2e6baa;
    padding: 1px 8px;
}
.caption-1-medium {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.client-badge {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    margin-right: 10px;
}
.client-badge img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
}
.project-tooltip {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    font-style: normal;
}
.project-tooltip img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
}
.pagination {
    display: block;
    text-align: center;
    line-height: 80px;
}
.pagination li {
    display: inline-block;
    cursor: pointer;
}
li:first-child > .page-link {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='32' height='32' rx='2'%3E%3C/rect%3E%3Cpath stroke='%239E9E9E' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M19 10l-6 6 6 6'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    text-indent: -999999px;
    background-position: center;
}
.project-search .container .pagination li a {
    cursor: pointer;
}
li:last-child > .page-link {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='32' height='32' rx='2'%3E%3C/rect%3E%3Cpath stroke='%239E9E9E' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M13 22l6-6-6-6'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    text-indent: -999999px;
    background-position: center;
}
.page-link {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    min-width: 32px;
    text-align: center;
    padding: 0 8px;
    font-weight: 500;
    color: #616161;
    text-decoration: none;
    border: 1px solid transparent;
}
.page-link.active {
    color: #3ba3c7;
    border-color: #bdbdbd;
    border-radius: 2px;
}
.sort-box-dropdown {
    display: block;
}
.result-sort-box .sort-box-dropdown {
    position: absolute;
    width: 112px;
    right: 0;
    top: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    z-index: 100;
    display: none;
}
.btn-sort-box-dropdown {
    display: block;
    width: 100%;
    padding: 8px 16px;
    cursor: pointer;
}
