/*  div 태그 중, class가 element인 요소들이 있다. 
    container에 있는 element는 우측 하단에 위치시키고 
    article에 있는 element는 좌측 하단에 위치시킨다.
    wrap은 가운데에 배치한다.*/

body {
    font-size: 35px;
}

#horizon {
    border: 2px dashed brown;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    /* margin : 앞의 값 상하, 뒤의 값 좌우 */
}

#wrap {
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    border: 4px dotted blueviolet;
}

#container, #article {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    
}

#container {
    align-items: flex-end;
    justify-content: flex-end;
    background-color: crimson;
}

#article {
    justify-content: flex-end;
    background-color: yellowgreen;
}

.element {
    width: 30px;
    height: 30px;
    background-color: black;
}